config PASCAL_STARTUP
	bool "Enable Pascal Start-Up Application"
	default n
	depends on PASCAL_BUILD_NUTTX
	---help---
		Enable building of the Pascal initialization task for NuttX.

if PASCAL_STARTUP

choice
	prompt "Pascal Start-Up Media"

config PASCAL_STARTUP_FILE
	bool "Pascal start-up resides in a file"

#config PASCAL_STARTUP_INMEMORY
#	bool "Pascal start-up resides in memory"

endchoice # Pascal Start-Up Media

#config PASCAL_STARTUP_FILENAME
#	string "Pascal start-up file name"
#	default "Pshell.pex"
#	depends on PASCAL_STARTUP_FILE

config PASCAL_STARTUP_FILENAME
	string
	default "Pshell.pex"
	---help---
		This is the Pascal executable file name.  The full path to the
		executable will be formed by pre-pending CONFIG_PASCAL_EXECDIR.

#config PASCAL_STARTUP_INMEMORY
#	string "Pascal start-up in-memory symbol name"
#	default "g_pStartUpPex"
#	depends on PASCAL_STARTUP_INMEMORY

config PASCAL_STARTUP_STKSIZE
	int "Pascal start-up stack size"
	default 4096
	---help---
		Stack memory set aside for code execution.

config PASCAL_STARTUP_STRSIZE
	int "Pascal start-up string stack size (total)"
	default 1024
	---help---
		Total stack memory set aside for strings.

config PASCAL_STARTUP_HEAPSIZE
	int "Pascal start-up heap size"
	default 256
	---help---
		Memory set aside for usage with new and dispose.

config PASCAL_AUTOMOUNT
	bool "Mount filesystem"
	default n
	---help---
		Mount file system containing Pascal executables at startup.
		Mount point is the same as CONFIG_PASCAL_EXECDIR.

if PASCAL_AUTOMOUNT

config PASCAL_MOUNTDEV
	string "Mount device"
	default "/dev/mmcsd0"
	---help---
		The block or MTD device to mount at CONFIG_PASCAL_EXECDIR.  Likely
		settings include "dev/mmcsd0" for an SD card or /dev/ram0 for
		an in-memory file system.

config PASCAL_FSTYPE
	string "File system type"
	default "vfat"
	---help---
		The type of filesystem to be mounted.  Likely settings are "vfat"
		for an SD card or "romfs" for an in-mememory file system.

config PASCAL_MOUNT_OPTIONS
	string "Mount options"
	default ""
	---help---
		Mount option data (final parameter of mount() call). Necessary for
		certin file system types such as HostFS.

endif

config PASCAL_STARTUP_DEBUG
	bool "Enable P-Code debugger at startup"
	default n
	depends on PASCAL_DEBUGGER
	---help---
		The start-up Pascal program with begin in the Pascal P-code debugger.

endif # PASCAL_STARTUP
