menu "Pascal Applications"

source "$PASTOPDIR/papps/pstart/Kconfig.pstart"
source "$PASTOPDIR/papps/phello/Kconfig.phello"
source "$PASTOPDIR/papps/pshell/Kconfig.pshell"

endmenu # Pascal Applications
