menu "Target Machine Description"

config PASCAL_POINTERSIZE
	int "Size of a pointer"
	default 4
	---help---
		Size of a pointer on the target machine.  Typically one of 2 bytes
		(16-bits), 4 bytes (32-bits), or 8 bytes(64-bytes).  This setting is
		used to dyamically size some Pascal types that are containers of the
		target pointer values (vs. the VM's pointer size which is always 2).

endmenu

menu "Pascal Target Tools"
	depends on PASCAL_BUILD_NUTTX

config PASCAL_TARGET_TOOLS
	bool "Build tools for target"
	default n
	depends on PASCAL_BUILD_NUTTX
	---help---
		Build Pascal tools (compiler, optimizer, linker, lister) for the
		target platform.  Default:  Only the run-time components will be
		built for the target.

config PASCAL_PRIORITY
	int "Compiler task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_STACKSIZE
	int "Compiler stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_POPT_PRIORITY
	int "Optimizer task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_POPT_STACKSIZE
	int "Optimizer stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PLINK_PRIORITY
	int "Linker task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_PLINK_STACKSIZE
	int "Linker stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PLIST_PRIORITY
	int "Lister task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_PLIST_STACKSIZE
	int "Lister stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PRUN_PRIORITY
	int "Run-time task priority"
	default 100
	depends on PASCAL_BUILD_NUTTX

config PASCAL_PRUN_STACKSIZE
	int "Run-time stack size"
	default 2048
	depends on PASCAL_BUILD_NUTTX

endmenu # Target tool options

config PASCAL_BUILD_PAPPS
	bool
	default PASCAL_TARGET_TOOLS || !PASCAL_BUILD_NUTTX

config PASCAL_DEFAULT_STRALLOC
	int "Default string size"
	default 80
	range 1 4095
	---help---
		When a string variable is declared without a size, then this is the
		default size of the string buffer allocation.  The default of 80 is
		typical.

config PASCAL_DEBUG
	bool "Enable debug features"
	default n
	---help---
		Enable DEBUG features in tools and run-time code.

config PASCAL_DEBUGGER
	bool "Enable debug monitor"
	default n
	---help---
		Enable building a Pascal run-time debug monitor into the run-time
		code.  With this option, the prun program will accept an argument,
		--debug, to enter the Pascal debug monitory
