menu "Pascal Target Tools"
	depends on PASCAL_BUILD_NUTTX

config PASCAL_TARGET_TOOLS
	bool "Build tools for target"
	default n
	depends on PASCAL_BUILD_NUTTX
	---help---
		Build Pascal tools (compiler, optimizer, linker, lister) for the
		target platform.  Default:  Only the run-time components will be
		built for the target.

config PASCAL_PRIORITY
	int "Compiler task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_STACKSIZE
	int "Compiler stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_POPT_PRIORITY
	int "Optimizer task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_POPT_STACKSIZE
	int "Optimizer stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PLINK_PRIORITY
	int "Linker task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_PLINK_STACKSIZE
	int "Linker stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PLIST_PRIORITY
	int "Lister task priority"
	depends on PASCAL_TARGET_TOOLS
	default 100

config PASCAL_PLIST_STACKSIZE
	int "Lister stack size"
	default 2048
	depends on PASCAL_TARGET_TOOLS

config PASCAL_PRUN_PRIORITY
	int "Run-time task priority"
	default 100
	depends on PASCAL_BUILD_NUTTX

config PASCAL_PRUN_STACKSIZE
	int "Run-time stack size"
	default 2048
	depends on PASCAL_BUILD_NUTTX

endmenu # Target tool options

menu "Pascal Applications"

config PASCAL_STARTUP
	bool "Enable Pascal Start-Up Application"
	default n
	depends on PASCAL_BUILD_NUTTX
	---help---
		Enable building of the the Pascal Pascal initialization task for NuttX.

if PASCAL_STARTUP

choice
	prompt "Pascal Start-Up Media"

config PASCAL_STARTUP_FILE
	bool "Pascal start-up resides in a file"

#config PASCAL_STARTUP_INMEMORY
#	bool "Pascal start-up resides in memory"

endchoice # Pascal Start-Up Media

#config PASCAL_STARTUP_FILENAME
#	string "Pascal start-up file name"
#	default "pstartup.pex"
#	depends on PASCAL_STARTUP_FILE

config PASCAL_STARTUP_FILENAME
	string
	default "pstartup.pex"

#config PASCAL_STARTUP_INMEMORY
#	string "Pascal start-up in-memory symbol name"
#	default "g_pStartUpPex"
#	depends on PASCAL_STARTUP_INMEMORY

config PASCAL_STARTUP_DEBUG
	bool "Enable P-Code debugger at startup"
	default n
	---help---
		The start-up Pascal program with begin in the Pascal P-code debugger.

config PASCAL_STARTUP_STKSIZE
	int "Pascal start-up stack size"
	default 4096
	---help---
		Stack memory set aside for code execution.

config PASCAL_STARTUP_STRSIZE
	int "Pascal start-up string stack size (total)"
	default 1024
	---help---
		Total stack memory set aside for strings.

config PASCAL_STARTUP_STRALLOC
	int "Pascal start-up string stack alloc"
	default 128
	---help---
		String memory allocation per standard string instantiation.

config PASCAL_STARTUP_HEAPSIZE
	int "Pascal start-up heap size"
	default 256
	---help---
		Memory set aside for usage with new and dispose.

endif # PASCAL_STARTUP
endmenu # Pascal Applications

config PASCAL_DEBUG
	bool "Enable Debug Features"
	default n
	---help---
		Enable DEBUG features in tools and run-time code.

config PASCAL_TRACE
	bool "Enable Function Tracing"
	default n
	---help---
		Enable DEBUG output on entry into each function.
